/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('../images/cover-image-dark.png');
  --header-bg-color: #000028;
  --main-bg-color: var(--header-bg-color);

  --dark-color: var(--header-bg-color);
  --accent-color: #ff0070;
  --accent-color-alt: #db00ff;

  --section-title-color: var(--accent-color);
  --main-text-color: #f1b2ce;
  --link-hover-color: var(--main-text-color);
  --button-hover-color: rgb(255 0 112 / 0.4);
  --button-focus-color: var(--accent-color);
  --decoration-element-color: var(--accent-color);
}

:root.theme-dark .header__rec {
  display: flex;
}