/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  overflow-x: hidden;
  font-family: var(--font-family-main), monospace;
  font-weight: 400;
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  align-items: start;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::after {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::before {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  display: flex;
  grid-row: 1;
  justify-content: end;
  align-items: center;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  padding: 0 13px;
  border: none;
  color: var(--accent-color);
  background: transparent;
  text-transform: lowercase;
  line-height: 1;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  cursor: default;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid rgb(255 0 112 / 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  grid-row: 2;
  color: var(--accent-color-alt);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  grid-row: 3;
  align-self: center;
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
}

.title-decor {
  color: var(--dark-color);
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding-block: 40px;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-inline: 10px;
}

.section__title {
  color: var(--accent-color);
}

.section__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--light-color);
}

.link:focus-visible {
  outline: 1px solid var(--light-color);
}

.card__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  margin-block-end: 30px;
}

.card__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card__subtitle {
  margin-block-start: 10px;
}

.card__image-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.card__image {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 667px;
  background-color: var(--dark-color);
}

.footer__title {
  color: var(--accent-color-alt);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title);
  line-height: 0.83;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
  }

  .header__title {
    grid-column: 1 / 3;
    margin-inline-start: -20px;
  }

  .header__description {
    grid-column: 2 / 3;
  }

  .main {
    row-gap: 80px;
    padding-block: 60px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-inline: 20px;
  }

  .section_distractions .section__title {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .section_distractions .section__list {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  
}
