/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family-main), monospace;
  font-weight: 400;
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  background-color: var(--header-bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: start;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--decoration-element-color);
}

.decorated-zone::after {
  top: 10px;
  right: 10px;
  border-bottom: none;  
  border-left: none;
}

.decorated-zone::before {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  display: flex;
  grid-row: 1;
  justify-content: end;
  align-items: center;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  border: none;
  padding: 3px 13px;
  color: var(--button-color);
  line-height: 1;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-focus-color);
  pointer-events: none;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-focus-color);
  outline: none;
}

.header__title {
  grid-row: 2;
  color: var(--accent-color-alt);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  grid-row: 3;
  align-self: center;
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
}

.title_regular {
  font-weight: 400;
}

.title-decor {
  color: var(--dark-color);
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding-block: 40px;
  color: var(--main-text-color);
}

.section {
  display: grid;
  gap: 20px;
  padding-inline: 10px;
}

.section__title {
  color: var(--section-title-color);
}

.section__content {
  display: grid;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--link-hover-color);
}

.link:focus-visible {
  outline: 1px solid var(--link-hover-color);
}

.gallery {
  gap: 10px;
}

.gallery__images-list {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 667px;
}

.footer__title {
  color: var(--accent-color-alt);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title);
  line-height: 0.83;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >=768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
  }

  .header__title {
    grid-column: 1 / 3;
    margin-inline-start: -20px;
  }

  .header__description {
    grid-column: 2 / 3;
  }

  .main {
    row-gap: 80px;
    padding-block: 60px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    padding-inline: 20px;
  }

  .distractions .section__title {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .distractions .section__content {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .gallery {
    gap: 20px;
  }

  .gallery .gallery__title {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery .section__content {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .gallery__images-list {
    grid-template-areas:
      'sunset sunset ice-cream'
      'tape books ice-cream'
      'tape street street';
    gap: 20px;
    margin-block-start: 0;
  }

  .sunset-image {
    grid-area: sunset;
  }

  .ice-cream-image {
    grid-area: ice-cream;
  }

  .tape-image {
    grid-area: tape;
  }

  .books-image {
    grid-area: books;
  }

  .street-image {
    grid-area: street;
  }
}

@media (width >= 1024px) {
  :root {
    --font-size-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    justify-content: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .section {
    row-gap: 20px;
    column-gap: 10px;
  }

  .distractions .section__content {
    grid-template-columns: repeat(3, 1fr);
  }
}