:root {
  --bg-image: url('../images/cover-image-dark.png');
  --header-bg-color: #000028;
  --main-bg-color: var(--header-bg-color);

  --dark-color: var(--header-bg-color);
  --accent-color: #ff0070;
  --accent-color-alt: #db00ff;

  --section-title-color: var(--accent-color);
  --main-text-color: #f1b2ce;
  --link-hover-color: var(--main-text-color);
  --button-color: var(--accent-color);
  --button-hover-color: rgb(255 0 112 / 0.4);
  --button-focus-color: var(--accent-color);
  --decoration-element-color: var(--accent-color);

  --font-family-main: 'IBM PLex mono';
  --font-size-main: 18px;
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-weight-bold: 700;
  --line-height-main: 1.3;
}


